body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  /* body{
    font-family: sans-serif;
} */
h1{
    font-family: sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
 
}
H2{
   font-family:  montserrat-black,sans-serif;;
}
h3{
   font-family: montserrat-black,sans-serif;
   font-weight: bold;
}
p{
   color: #8f8f8f;
   font-weight: bold;

}
/* .container-fluid{
    padding: 3% 15%;
    
} */


 /* Navigation Bar */
 /* .navbar{
    padding:0 0  4.5rem;
 }

 /* .navbar-brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5rem;
    font-weight: bold;
 } */
 /* .nav-item{
    padding: 0 18px;
 }
 .nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
    /* font-weight: ; */
 

 /* Download Buttons */

 .download-button{
    margin: 5% 3% 5% 0
 }
 /* Title Image */
 .tilted{
    width:60%;

    transform: rotate(25deg);
 }

 /* features */
 #features{
   padding: 7% 15%;
 }
 .feature-box{
   text-align: center;
   padding: 5%;
 }
.icon{ 
   color: #ef8172; 
   margin-bottom: 1rem;
}
 .icon:hover {
   color: #ff4c68;
 }

/* testimonial section */
#testimonials {
   
   text-align: center;
   background-color: #474e5d;
   color:#FFF
}
.testimonial-image{
   width: 10%;
   border-radius: 100%;
   margin: 20px;
}
/* press section */
#press {
   background-color:#ef8172;
   text-align: center;
   padding-bottom: 3%;
}
.press-logo{
   width:10%;
   margin:20px 20px 50px;
}
.carousel-item{
   padding: 7% 15%;
} 
a{
   color: #e2e2e2;
   font-family: 'Montserrat', sans-serif;
   margin: 10px 20px;
   text-decoration: none;
}
.bottom-container{
   background-color: #ff4c68;
   padding: 50px 0px 20px;
   text-align: center;

}